body {
    background-color: #D9DBD4;
    font-family: 'Segoe UI';
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 127px;
    background-color: #009688;
}

.content {
    width: 75%;
    //height: 95%;
    left: 0;
    top: 0;
    margin: 25px 12.5% 10px 12.5%;
}

.middle {
    border-radius: 5px;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0 0 5px grey;
}

.middleContent {
    padding: 0.4rem 1rem 1rem 1rem;
}

.middle h1 {
    text-align: right;
    background-color: #DDD6CE;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    padding: 0rem 2rem 0.4rem 2rem;
    margin-bottom: 0;
}

.select {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.select h1 {
    background: None;
    text-align: center;
    padding: 0;
    margin: 1rem 1rem 1rem 1rem;
}

.selector {

}

a.anchor:link {
    text-decoration: inherit;
    color: inherit;


}

a.anchor:visited {
    text-decoration: inherit;
    color: inherit;
}

a.green-hover {
    transition: color 0.3s;
}

a.green-hover:hover {
    color: #4CED69;
}

.green-hover {
    transition: color 0.3s;
    cursor: pointer;
}

.green-hover:hover {
    color: #4CED69;
}

.green-hover-bg {
    transition: background-color 0.3s;
    cursor: pointer;
}

.green-hover-bg:hover {
    background-color: #4CED69;
}

input[type="file"] {
    clip: rect(0, 0, 0, 0);
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}

input[type="file"] + label {
    background-color: #DDD6CE;
    border-radius: 1rem;
    display: inline-block;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    padding-left: 1rem;
    padding-right: 10rem;
    background-image: url('../img/clip.svg');
    background-repeat: no-repeat;
    background-position: 90%;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {

}

.howToLink {
    margin-top: 2rem;
    color: #777;
}

.accordion-header {
}

.accordion-header:hover {
}

.accordion-content {
	display: none;
}


.customize {
    padding: 0;
}

.customize-nav {
    display: inline-block;
}

.customize-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.customize-nav li {
    font-size: 20;
    max-width: 15rem;
    min-width: 10rem;
    text-align: right;
    background-color: white;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #F2F2F2;
    //border-image: linear-gradient(to left, #ffffff00, #009688, #ffffff00) 1 0% 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.customize-nav li:last-child {
    border-bottom: none;
}
.customize-nav li:first-child {
    border-top: none;
}

.customize-nav .active {
    background-color: #E9EBEB;
}

.customize-nav {
    background-color: red;
}

.customizer {
    display: inline-block;
    width: 80%;
    background-color: green;
}

.customizer.hidden {
    visibility: hidden;
}



.footer {
    padding-left: 3rem;
    position: fixed;
    bottom: 0;
    color: #777;
}